'.text.html.vue':
  #Quasar Button
  'QBtn':
    'prefix': 'q-btn'
    'body': '<q-btn\n\tlabel="$1"\n\tcolor="$2"\n/>'
  'QBtn extended':
    'prefix': 'q-btnx'
    'body': '<q-btn color="${1:primary}">\n\t// slot content\n</q-btn>'
