'.text.html.vue':
  #Quasar Button
  'QBtn':
    'prefix': 'q-btn'
    'body': '<q-btn label="$1" color="$2" />'
  'QBtn extended':
    'prefix': 'q-btnx'
    'body': '<q-btn color="${1:primary}">\n\t// slot content\n</q-btn>'
